[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
crayons = "*"
funguatoolbox = {editable = true, path = "."}
funguauniverse = {editable = true, path = "."}
sklearn = "*"
flask = "*"
gunicorn = "*"
prometheus-client = "*"
requests = "*"
requests-futures = "*"
influxdb = "*"
redis = "*"
ray = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
